<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
  <div class="container">
    <a routerLink="/inicio" routerLinkActive="active">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item ml-4">
          <button type="button" class="btn btn-outline-primary sinBorde" routerLink="/inicio" routerLinkActive="active">
            Inicio
          </button>
          <!-- <a class="nav-link text-light" routerLink="/inicio" routerLinkActive="active">Inicio</a> -->
        </li>
        <li class="nav-item ml-4">
          <button type="button" class="btn btn-outline-primary sinBorde" routerLink="/genetica"
                  routerLinkActive="active">
            Genetica
          </button>
        </li>
        <li class="nav-item ml-4">
          <button type="button" class="btn btn-outline-primary sinBorde" routerLink="/ejemplares"
                  routerLinkActive="active">
            Ejemplares
          </button>
        </li>
        <li class="nav-item ml-4">
          <button type="button" class="btn btn-outline-primary sinBorde" routerLink="/transporte"
                  routerLinkActive="active">
            Transporte
          </button>
        </li>
        <li class="nav-item ml-4">
          <button type="button" class="btn btn-outline-primary sinBorde" routerLink="/insumos"
                  routerLinkActive="active">
            Insumos
          </button>
        </li>

      </ul>
      <div class="form-inline my-2 my-lg-0">


        <button *ngIf="!statusSession" class="btn btn-sm btn-outline-primary  " routerLink="login"
                routerLinkActive="active">
          <i class="fas fa-user-alt mr-2"></i>
          Ingresar
        </button>
        <button *ngIf="!statusSession" class="btn btn-sm btn-outline-primary  ml-2 " routerLink="/register"
                routerLinkActive="active">
          <i class="fas fa-pencil-alt mr-2"></i>
          Registrarse
        </button>
        <button *ngIf="statusSession" class="btn btn-sm btn-outline-primary   " routerLink="/panel"
                routerLinkActive="active">
          <i class="fas fa-bars mr-2"></i>
          Panel
        </button>
        <button *ngIf="statusSession" class="btn btn-sm btn-outline-primary  ml-2 " (click)="logout()">
          Salir
          <i class="fas fa-sign-out-alt ml-2"></i>
        </button>
      </div>
    </div>

  </div>
</nav>
